{% extends 'base.html.twig' %}
{% block title %}Jamboree 2019: programme du 14{% endblock %}
{% block body %}
	<div id="pages_maincontent">

		<h2 class="page_title">Les activités du jour 6</h2>


		<div class="page_single layout_fullwidth_padding">

			<div class="tabs">

				<input type="radio" name="tabs3" class="tabradio" id="tab3" checked="checked">
				<label class="tablabel tablabel--13" for="tab3">Matin</label>
				<div class="tab">
					<h6><em><b><u>Activité de la branche Louveteau</u></b></em></h6>
					<h6><b>09h-12h</b>&nbsp; &nbsp; Activité d’apprentissage « Loup éduqué »</h6>
					<br>
					<h6><em><b><u>Activités de la branche Eclaireur</u></b></em></h6>
					<h6><b>09h-12h</b>&nbsp; &nbsp; Sensibilisation « Marée verte »</h6>
					<br>
					<h6><em><b><u>Activités de la branche Cheminot</u></b></em></h6>
					<h6><b>09h-12h</b>&nbsp; &nbsp; Présentation du défi « Food for Life »</h6>
					<br>
					<h6><em><b><u>Activités de la branche Route</u></b></em></h6>
					<h6><b>09h-12h</b>&nbsp; &nbsp; Activités d’apprentissage au Village Mondial de Developpement</h6>
					<br>
					<h6><em><b><u>Activités par spécialité</u></b></em></h6>
					<h6><b>9h-12h</b>&nbsp; &nbsp; Formation des chargés de finances régionaux</h6>
					<h6><b>10h-12h</b>&nbsp; &nbsp; Séance de présentation de la reforme aux chargés de la formation régionaux</h6>
					<h6><b>10h-11h30</b>&nbsp; &nbsp; Parcours des Commissaires de district et des Chefs de groupes</h6>
				</div>

				<input type="radio" name="tabs3" class="tabradio" id="tab4">
				<label class="tablabel tablabel--13" for="tab4">Après-midi</label>
				<div class="tab">
					<h6><em><b><u>Activité de la branche Louveteau</u></b></em></h6>
					<h6><b>15h-18h</b>&nbsp; &nbsp; Jungle Olympiades</h6>
					<br>
					<h6><em><b><u>Activités de la branche Eclaireur</u></b></em></h6>
					<h6><b>14h30-18h</b>&nbsp; &nbsp; Activités sportives</h6>
					<br>
					<h6><em><b><u>Activités de la branche Cheminot</u></b></em></h6>
					<h6><b>15h-17h</b>&nbsp; &nbsp; Sensibilisation sur le harcèlement sexuel</h6>
					<br>
					<h6><em><b><u>Activités de la branche Route</u></b></em></h6>
					<h6><b>14h30-18h</b>&nbsp; &nbsp; Concours national des entreprises</h6>
					<br>
				</div>
				<input type="radio" name="tabs3" class="tabradio" id="tab5">
				<label class="tablabel tablabel--13" for="tab5">Soir</label>
				<div class="tab">
					<h6><em><b><u>Activité générale</u></b></em></h6>
					<h6><b>22h-12h</b>&nbsp; &nbsp; Soirée Mariale</h6>
					<br>
				</div>


			</div>

		</div>

	</div>
{% endblock %}
