{% extends 'base.html.twig' %}
{% block title %}Jamboree 2019: programme du 14{% endblock %}
{% block body %}
	<div id="pages_maincontent">

		<h2 class="page_title">Les activités du jour 7</h2>


		<div class="page_single layout_fullwidth_padding">

			<div class="tabs">

				<input type="radio" name="tabs3" class="tabradio" id="tab3" checked="checked">
				<label class="tablabel tablabel--13" for="tab3">Matin</label>
				<div class="tab">
					<h6><em><b><u>Activités générales</u></b></em></h6>
					<h6><b>08h-10h</b>&nbsp; &nbsp; Messe de l’Assomption</h6>
					<h6><b>08h-12h</b>&nbsp; &nbsp; Collecte de sang</h6>
					<br>
					<h6><em><b><u>Activités de la branche Louveteau</u></b></em></h6>
					<h6><b>10h-12h</b>&nbsp; &nbsp; Activité d’apprentissage au Village Mondial de Développement</h6>
					<br>
					<h6><em><b><u>Activités de la branche Eclaireur</u></b></em></h6>
					<h6><b>10h-12h</b>&nbsp; &nbsp; A la chapelle de Saint Georges</h6>
					<br>
					<h6><em><b><u>Activités de la branche Cheminot</u></b></em></h6>
					<h6><b>10h-12h</b>&nbsp; &nbsp; Activité d’apprentissage au Village Mondial de Développement</h6>
					<br>
					<h6><em><b><u>Activités de la branche Route</u></b></em></h6>
					<h6><b>09h-12h</b>&nbsp; &nbsp; Activités culturelles</h6>
					<br>
					<h6><em><b><u>Activités de formation</u></b></em></h6>
					<h6><b>10h30-11h30</b>&nbsp; &nbsp; Cérémonie de titularisation</h6>
				</div>

				<input type="radio" name="tabs3" class="tabradio" id="tab4">
				<label class="tablabel tablabel--13" for="tab4">Après-midi</label>
				<div class="tab">
					<h6><em><b><u>Activités spéciales</u></b></em></h6>
					<h6><b>15h-16h30</b>&nbsp; &nbsp; Panel sur l’éducation</h6>
					<h6><b>14h30-17h30</b>&nbsp; &nbsp; Formation des jeunes leaders</h6>
					<h6><b>14h30-17h30</b>&nbsp; &nbsp; « M’mla gnaa » Formation des cheftaines</h6>
					<h6><b>14h30-17h30</b>&nbsp; &nbsp; Animation dans les sous camp</h6>
					<h6><b>14h30-16h</b>&nbsp; &nbsp; Parcours des Commissaires de district et Chefs de groupes</h6>
				</div>
				<input type="radio" name="tabs3" class="tabradio" id="tab5">
				<label class="tablabel tablabel--13" for="tab5">Soir</label>
				<div class="tab">
					<h6><em><b><u>Activité générale</u></b></em></h6>
					<h6><b>20h30-21h30</b>&nbsp; &nbsp; Veillée folklorique par régionSoirée Mariale</h6>
					<br>
					<h6><em><b><u>Activité de la branche Cheminot</u></b></em></h6>
					<h6><b>20h30-22h</b>&nbsp; &nbsp; Activité culturelle « Découverte Orange »</h6>
					<br>
				</div>


			</div>

		</div>

	</div>
{% endblock %}
