{% extends 'base.html.twig' %}
{% block title %}Jamboree 2019: Mot de bienvenue du Commissaire National{% endblock %}
{% block body %}
	<div id="pages_maincontent">

		<h2 class="page_title">Mot de bienvenue du Commissaire National</h2>


		<div class="page_single layout_fullwidth_padding">

			<p style="font-weight: normal;">
				Chers amis jeunes,<br>
				Frères et sœurs scouts,<br>
			</p>
			<p style="font-weight:normal; text-align:justify;">
				Nous y sommes, le <em>11ème Jamborée Attoumgblan</em> ouvre ses portes. C’est un jamborée du professionnalisme, d’expérience, de son et de lumières ; le jamborée waouh !!
			</p>
			<p style="font-weight:normal; text-align:justify;">
				Autour du thème « <span style="text-transform:uppercase;">scouts, jeunes citoyens engagés pour le développement durable</span> », vous êtes plus de 10 800 jeunes
				et encadreurs scouts venus des 15 régions de la Côte d’Ivoire et des pays invités tels que la France, qui allez
				activement interagir sur les enjeux du développement durable tels que le changement climatique, la santé, le dialogue,
				le développement économique grâce à un programme varié qui a été soigneusement préparé pour vous.
			</p>
			<p style="font-weight:normal;text-align:justify;">
				Pendant 10 jours, vous pourrez ainsi échanger sur votre vie, votre culture et partager des moments forts et uniques.
				« Apprendre par l’action » - un des huit éléments de la méthode scoute - résultant d’une expérience pratique –
				est exactement ce que nous voulons atteindre durant ce rassemblement de sons et de lumières.
			</p>
			<p style="font-weight:normal;text-align:justify;">
				Ce jamborée waouh est réalisé pour vous les jeunes avec une implication des ainés et bénévoles scouts.
				Il ne fait nul doute que les amitiés vont se créer durant ce 11ème jamborée attoumgblan et se développer pendant les
				années à venir. Et tout ceci dans une joie carnavalesque selon les principes fondamentaux du scoutisme.
				Ainsi, ce « Jambo-guide » que nous mettons à votre disposition en ligne vous servira de boussole tout au long du jamborée.
				Je vous conseille de l’avoir à porter de main afin de le consulter à tout moment.
			</p>
			<p style="font-weight:normal;text-align:justify;">
				Je vous souhaite donc de passer un jamborée instructif, ’échange de culture et de partage d’expérience.
				<em><strong>Bon jamborée Wahooo !!!!!</strong></em>
			</p>
			<p></p>
			<p style="font-weight:normal;text-align:right;">
				<span style="font-weight:bold;">KOUASSI Ble René-Tardy</span> <br>
				<span>Commissaire National </span> <br>
				<span>Association des Scouts Catholique de Côte d’Ivoire</span>
			</p>

		</div>




	</div>
{% endblock %}
